body {
  text-align: center;
  padding-top: 20px;
  background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-dark-spring-green-solid-color-background.jpg);
  background-size: cover;
  justify-content: space-around;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  font-weight: bold;
}
h1 {
  color: goldenrod;
}
p {
  font-size: x-large;
}
#message-el {
  font-style: italic;
}
button {
  color: #016f32;
  width: 150px;
  height: 30px;
  background-color: goldenrod;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 5px;
}
